body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("/images/mesh-NaN\ \(3\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

.main {
    position: relative;
}

#icon {
    width: 10rem;
    text-align: center;
    position: relative;
    left: 600px; 
    margin-top: 10rem;
}

p {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    margin-top: 4rem;
}